div.separador
	.row
		.col-sm-3.col-md-3.col-lg-3
			a(href='http://localhost:54000/quadros').waves-effect.grey.darken-3.btn-large
				i.material-icons.right aspect_ratio
				| Quadros
		.col-sm-3.col-md-3.col-lg-3
			a(href='http://localhost:54000/canecas').waves-effect.grey.darken-3.btn-large
				i.material-icons.right schedule
				| Canecas
		.col-sm-3.col-md-3.col-lg-3
			a(href='http://localhost:54000/promocao').waves-effect.grey.darken-3.btn-large
				i.material-icons.right loyalty
				| Promoções
		.col-sm-3.col-md-3.col-lg-3
			a.waves-effect.grey.darken-3.btn-large
				i.material-icons.right uperm_phone_msg
				| Contato


