extends layout

block body
	p

	img.className#IdName(src="/images/logo.jpg" alt="Image Title" )
	div.navbar.navbar-inverse.navbar-static-top
		div.container
			div.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="") Categorias
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Filmes 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Alice no País das Maravilhas
							li(role="presentation")
								a(href="#" role="menuitem") Bastardos Inglórios
							li(role="presentation")
								a(href="#" role="menuitem") Batman
							li(role="presentation")
								a(href="#" role="menuitem") Clube da Luta
							li(role="presentation")
								a(href="#" role="menuitem") Django
							li(role="presentation")
								a(href="#" role="menuitem") Donnie Darko
							li(role="presentation")
								a(href="#" role="menuitem") Guardiões da Galáxia
							li(role="presentation")
								a(href="#" role="menuitem") Hobbit
							li(role="presentation")
								a(href="#" role="menuitem") Harry Potter
							li(role="presentation")
								a(href="#" role="menuitem") Interstellar
							li(role="presentation")
								a(href="#" role="menuitem") Kill Bill
							li(role="presentation")
								a(href="#" role="menuitem") Logan
							li(role="presentation")
								a(href="#" role="menuitem") Madmax
							li(role="presentation")
								a(href="#" role="menuitem") O Cisne Negro
							li(role="presentation")
								a(href="#" role="menuitem") Poderoso Chefão
							li(role="presentation")
								a(href="#" role="menuitem") Robocop
							li(role="presentation")
								a(href="#" role="menuitem") Senhor dos Anéis
							li(role="presentation")
								a(href="#" role="menuitem") Star Wars
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Música 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") AC/DC
							li(role="presentation")
								a(href="#" role="menuitem") Artic Monkeys
							li(role="presentation")
								a(href="#" role="menuitem") Black Sabbath
							li(role="presentation")
								a(href="#" role="menuitem") David Bowie
							li(role="presentation")
								a(href="#" role="menuitem") Led Zeppelin
							li(role="presentation")
								a(href="#" role="menuitem") Pink Floyd
							li(role="presentation")
								a(href="#" role="menuitem") Os Beatles
							li(role="presentation")
								a(href="#" role="menuitem") Rolling Stones
							li(role="presentation")
								a(href="#" role="menuitem") Sex Pistols

					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Seriados 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Breaking Bad 
							li(role="presentation")
								a(href="#" role="menuitem") Dexter
							li(role="presentation")
								a(href="#" role="menuitem") Doctor Who
							li(role="presentation")
								a(href="#" role="menuitem") Game Of Thrones
							li(role="presentation")
								a(href="#" role="menuitem") How I Met You Mother
							li(role="presentation")
								a(href="#" role="menuitem") Supernatural
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Desenho 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Aladdin
							li(role="presentation")
								a(href="#" role="menuitem") Bambi
							li(role="presentation")
								a(href="#" role="menuitem") Dragon Ball
							li(role="presentation")
								a(href="#" role="menuitem") Hora de Aventura
							li(role="presentation")
								a(href="#" role="menuitem") Toy Story
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Canecas power 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
block content
	
	div.branco
		div.container
				div.row
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/filmes/alicewonderlandpromo.jpg" alt="Image Title" )
						p
							a.btn.btn-default(href='#', role='button') View details »

					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »
	div.branco
		div.container
				div.row
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/música/acdc.jpg" alt="Image Title" )
						p
							a.btn.btn-default(href='#', role='button') View details »

					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »