extends layout
	
block promo
	#contenedor
	#myCarousel.carousel.slide
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')         
			li(data-target='#myCarousel', data-slide-to='1')       
		// Carousel items
		.carousel-inner
			.active.item
				a(href="http://localhost:45000/promocao"): img(src='/images/promoquadros.png')       
			.item
				img(src='/images/promoçãocaneca.jpg')           
			
		// Carousel nav
		a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;      
		a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;


block content
	br
	div.titulopromo
		h2 Lançamentos do mês
	div.branco
		div.container
				div.row
					- for (var x = 0; x < 6; x++)
						div.col-md-4.imagem
									h2= dados.lancamentos[x].Nome
										p
											.grid
												figure.effect-zoe
													img(src=dados.lancamentos[x].Imagem)
													figcaption
														p.icon-links
															a(href='#')
																i.fa.fa-cart-plus(aria-hidden='true')
															a(href="#") 
																i.fa.fa-fw.fa-heart
											div
												h1 A partir de R$#{dados.lancamentos[x].Preço1}
												p ou a partir de 3xR$15,90

