extends layout

block body
	p

	img.className#IdName(src="/images/logo.jpg" alt="Image Title" )
		

	div.navbar.navbar-inverse.navbar-static-top
		div.container
			div.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="") Categorias
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Filmes 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Música 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Seriados 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Desenho 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Canecas power 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
block content
	
	div.branco
		div.container
				div.row
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/filmes/alicewonderlandpromo.jpg" alt="Image Title" )
						p
							a.btn.btn-default(href='#', role='button') View details »

					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »
	div.branco
		div.container
				div.row
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/música/acdc.jpg" alt="Image Title" )
						p
							a.btn.btn-default(href='#', role='button') View details »

					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »
					div.col-md-4.imagem
						h2 Heading
						p
							img.className#IdName(src="/images/seriados/stranger.jpg" alt="Image Title" style="widht:1000")
						p
							a.btn.btn-default(href='#', role='button') View details »