extends layout

block logo

	div.laranja
		div.col-md-4.logo
			img.className#IdName(src="/images/logo2.png" alt="Image Title" )
		div.col-md-4.logo

			
		div.col-md-4.logo
			form.navbar-form.navbar-left(role='search')
				.form-group
					input.form-control(type='text', placeholder='O que você procura?')
		 
				button.btn.btn-default(type='submit')
					span.glyphicon.glyphicon-inverse.glyphicon-search
			i.fa.fa-4x.fa-cart-plus(aria-hidden='true')

block body

	div.navbar.navbar-inverse.navbar-static-top
		div.container-nav
			div.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Filmes 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Alice no País das Maravilhas
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Bastardos Inglórios
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Batman
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Clube da Luta
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Django
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Donnie Darko
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Guardiões da Galáxia
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Hobbit
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Harry Potter
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Interstellar
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Kill Bill
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Logan
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Madmax
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") O Cisne Negro
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Poderoso Chefão
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Robocop
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Senhor dos Anéis
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Star Wars
					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Música 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") AC/DC
							li(role="presentation")
								a(href="#" class='cordoitem' class='cordoitem' role="menuitem") Artic Monkeys
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Black Sabbath
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") David Bowie
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Led Zeppelin
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Pink Floyd
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Os Beatles
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Rolling Stones
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Sex Pistols

					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Seriados 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Breaking Bad 
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Dexter
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Doctor Who
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Game Of Thrones
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") How I Met You Mother
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Stranger Things
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Supernatural
					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Desenho 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Aladdin
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Bambi
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Dragon Ball
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Hora de Aventura
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Toy Story
					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Canecas power 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Alice no País das Maravilhas
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Bastardos Inglórios
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Batman
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Cazuza
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") David Bowie
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Dexter
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Harry Potter
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Hobbit
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Pink Floyd
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Star Wars
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") Stranger Things
					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Produtos 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" class='cordoitem' role="menuitem") 20% OFF
					li.dropdown
						h1(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Catálogo 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="http://localhost:45000/catalogo" class='cordoitem' role="menuitem") Acesse ao catálogo
					br

		
block promo
	#contenedor
	#myCarousel.carousel.slide
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')         
			li(data-target='#myCarousel', data-slide-to='1')       
		// Carousel items
		.carousel-inner
			.active.item
				img(src='/images/promoçãocaneca.jpg', alt='banner1')       
			.item
				img(src='/images/promoquadros.png', alt='banner2')           
			
		// Carousel nav
		a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;      
		a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;


block content
	br
	div.preto
		h2 Lançamentos do mês
	div.branco
		div.container
				div.row
					- for (var x = 0; x < 6; x++)
						div.col-md-4.imagem
								h2= dados.lancamentos[x].Nome
									p
										div
											img(src=dados.lancamentos[x].Imagem)
											
										div
											h1 A partir de R$#{dados.lancamentos[x].Preço1}
											p ou a partir de 3xR$15,90

