extends layout

block body
	div.navbar.navbar-inverse.navbar-static-top
		div.container
			div.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") Indo
			div.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Music 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Music 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Music 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Music 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
					li.dropdown
						a(href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button") Music 
							b.caret
						ul(role="menu" class="dropdown-menu" aria-labelledby="drop1")
							li(role="presentation")
								a(href="#" role="menuitem") Grones
							li(role="presentation")
								a(href="#" role="menuitem") Nach
							li(role="presentation")
								a(href="#" role="menuitem") Zpu
							li(role="presentation")
								a(href="#" role="menuitem") Madnass
block content
	


			