div.laranja
	.col-sm-4.col-md-4.col-lg-4.logo
		a(href="http://localhost:54000"): img.className#IdName(src="/images/logo2.png" alt="Image Title" )

	.col-sm-4.col-md-4.col-lg-4.searchbar
		nav
			.nav-wrapper
				form
					.input-field
						input(type='search', id='txt-search', required)
						label.label-icon(for='search')
							i.material-icons search
						i.material-icons close
				div#resultados-busca

	.col-sm-4.col-md-4.col-lg-4.icones
		ul
			li.waves-effect.waves-light.icone
				a(href='http://localhost:54000/carrinho')
					div.bolinha
						.nomeproduto#contador2
					i.material-icons.medium.removerAzul shopping_cart
						

			li.waves-effect.waves-light.icone
				a(href='http://localhost:54000/favoritos')
					div.bolinha
						.nomeproduto#contador
					i.material-icons.medium.removerAzul star 