div.laranja
	.col-sm-4.col-md-4.col-lg-4.logo
		a(href="http://localhost:52000"): img.className#IdName(src="/images/logo2.png" alt="Image Title" )

	.col-sm-4.col-md-4.col-lg-4.searchbar
		nav
			.nav-wrapper
				form
					.input-field
						input(type='search', id='txt-search', required)
						label.label-icon(for='search')
							i.material-icons search
						i.material-icons close
				div#resultados-busca

	.col-sm-4.col-md-4.col-lg-4.icones
		ul
			li.waves-effect.waves-light.icone
				i.material-icons.medium shopping_cart
				div.bolinha
					a(href='http://localhost:52000/carrinho')
						

			li.waves-effect.waves-light.icone
				i.material-icons.medium star 
				div.bolinha
					a(href='http://localhost:52000/favoritos')