div.laranja
	div.col-md-4.logo
		a(href="http://localhost:45000"): img.className#IdName(src="/images/logo2.png" alt="Image Title" )

	div.col-md-4.logo
		nav
			.nav-wrapper
				form
					.input-field
						input(type='search', id='txt-search', required)
						label.label-icon(for='search')
							i.material-icons search
						i.material-icons close
				div#resultados-busca

	div.col-md-4.logo
		ul
			li.waves-effect.waves-light
				a(href='http://localhost:45000/carrinho')
					i.material-icons.medium shopping_cart

			li.waves-effect.waves-light
				a(href='http://localhost:45000/favoritos')
					i.material-icons.medium star 