div.laranja
	div.col-md-4.logo
		a(href="http://localhost:45000"): img.className#IdName(src="/images/logo2.png" alt="Image Title" )
	div.col-md-4.logo

		
	div.col-md-4.logo
		form.navbar-form.navbar-left(role='search')
			.form-group
				input.form-control(type='text', placeholder='O que você procura?')
	 
			button.btn.btn-default(type='submit')
				span.glyphicon.glyphicon-inverse.glyphicon-search
		i.fa.fa-4x.fa-cart-plus(aria-hidden='true')