doctype html
html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/../javascripts/jquery-3.1.1.min.js')
	script(src='/../javascripts/bootstrap.min.js')
	script(src='/../javascripts/materialize.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/../javascripts/javascript.js')

body

	include logo 
	include body

	.container-fluid
		.row
			.col-md-2.col-sm-4.sidebar1
				.brand Filtrar busca:
					form(action='#')
								p
									input#test1(name='group1', type='radio')
									label(for='test1') Menor Preço
								p
									input#test2(name='group1', type='radio')
									label(for='test2') Maior Preço
				i.fa.fa-chevron-circle-down.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
				.menu-list
					ul#menu-content.menu-content.collapse.out
						
						li.collapsed.active(data-toggle='collapse', data-target='#filmes')
							a(href='#')
							i.fa.fa-film.fa-lg
							strong  Filmes
							span.arrow
						ul#filmes.sub-menu.collapse
							ul.list
									li(data-id="alice").filter Alice no País das Maravilhas
									li(data-id="bastardos").filter Bastardos Inglórios
									li(data-id="batman").filter Batman
									li(data-id="cisne").filter Cisne Negro
									li(data-id="clube").filter Clube da Luta
									li(data-id="donnie").filter Donnie Darko
									li(data-id="guardiões").filter Guardiões da Galáxia
									li(data-id="hobbit").filter Hobbit
									li(data-id="harry").filter Harry Potter
									li(data-id="interstellar").filter Interstellar
									li(data-id="kill").filter Kill Bill
									li(data-id="logan").filter Logan
									li(data-id="mad").filter Mad Max
									li(data-id="poderoso").filter Poderoso Chefão
									li(data-id="robocop").filter Robocop
									li(data-id="senhor").filter Senhor dos Anéis
									li(data-id="star wars").filter Star Wars
						li.collapsed(data-toggle='collapse', data-target='#musica')
							a(href='#')
							i.fa.fa-music.fa-sm
							strong  Música
						ul#musica.sub-menu.collapse
								ul.list
									li(data-id="ac/dc").filter AC/DC
									li(data-id="artic").filter Artic Monkeys
									li(data-id="black").filter Black Sabbath
									li(data-id="david").filter David Bowie
									li(data-id="led").filter Led Zeppelin
									li(data-id="pink").filter Pink Floyd
									li(data-id="beatles").filter The Beatles
									li(data-id="rolling").filter Rolling Stones
									li(data-id="sex").filter Sex Pistols
						li.collapsed(data-toggle='collapse', data-target='#seriados')
							a(href='#')
							i.fa.fa-video-camera.fa-lg
							strong  Seriados
						ul#seriados.sub-menu.collapse
								ul.list
									li(data-id="breaking").filter Breaking Bad
									li(data-id="dexter").filter Dexter
									li(data-id="doctor").filter Doctor Who
									li(data-id="game").filter Game Of Thrones
									li(data-id="how").filter How I Met You Mother
									li(data-id="stranger").filter Stranger Things
									li(data-id="supernatural").filter Supernatural
						li.collapsed(data-toggle='collapse', data-target='#desenhos')
							a(href='#')
							i.fa.fa-child.fa-lg
							strong  Desenhos
						ul#desenhos.sub-menu.collapse
								ul.list
									li(data-id="aladdin").filter Aladdin
									li(data-id="bambi").filter Bambi
									li(data-id="dragon").filter Dragon Ball
									li(data-id="cisne").filter Cisne Negro
									li(data-id="hora").filter Hora de Aventura
									li(data-id="toy").filter Toy Story

						
			.col-md-10
				div.pretojson
					h2 Quadros
				div.brancojson
					div.container
						div.row
							#quadros
