doctype html
html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/../javascripts/javascript.js')

body

	include logo 
	include body

	.container-fluid
		.row
			.col-md-2.col-sm-4.sidebar1
				.logo
					img.img-responsive.center-block(src='http://lorempixel.com/output/people-q-g-64-64-1.jpg', alt='Logo')
				br
				.left-navigation
					ul.list
						h5
							strong FILMES
						li Alice
						li Bastardos Inglórios
						li Batman
						li Cisne Negro
						li Clube da Luta
						li Donnie Darko
						li Guardiões da Galáxia
						li Hobbit
						li Harry Potter
						li Interstellar
						li Kill Bill
						li Logan
						li Mad Max
						li Poderoso Chefão
						li Robocop
						li Senhor dos Anéis
						li Star Wars
						br
						ul.list
						h5
							strong SÉRIES
						li Hiking
						li Rafting
						li Badminton
						li Tennis
						li Sketching
						li Horse Riding
			.col-md-10
				div.titulopromo
					h2 Quadros
				div.branco
					div.container
						div.row
							#quadros
